.container{
    background-color: white;
    height: 315px;
    width: 396px;
    margin-left:0%;
    border-radius: 10px;
    margin-top: -2%;
}
*{
    margin: 50px;
    padding: 0%;
    background-color:  silver;
    font-family: Helvetica, Arial, sans-serif;
}
.form {
   background-color: white;
    margin: 10px;
    height: 40px;
    width: 350px;
    border-radius: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    
    
}
.login{ 
        background-color: white;
        margin-left: 27%;
        
}
h1{
    margin-left: 8%;
font-size: 50px;
color: blue;
}


